NODE_ENV=development
PORT=3000

# MONGO DATABASE
MONGO_URI=mongodb://root:root@localhost:27017
MONGO_DATABASE=familyTree

# JWT
JWT_SECRET=f@M1lyTr33
JWT_EXPIRES_IN=1h

# CLOUDINARY
CLOUDINARY_CLOUDNAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
         
# SMTP
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
          